/**
 * Custom styles
 */

section {
    padding: 30px 0;
}

.content-section {
    font-size: 1.4rem;
}

.footer {
    padding: 30px 0;
}

@media (max-width: 480px) {
    .content-section {
        font-size: 1rem;
    }
}
